body {
  font-family: 'Montserrat, sans-serif';
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat";
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

/* HEADINGS */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #FF4C68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  ;
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-image {
  width: 21%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/* Testemonial Section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #EF8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */
#cta {
  background-color: #FF4C68;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* FOOTER SECTION */
#footer {
  padding: 7% 43%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    height: auto;
    width: auto;
    transform: rotate(0);
  }

  #footer {
     padding: 7% 35%;
  }
}
